---
apiVersion: v1
kind: ConfigMap
metadata:
  name: manager-rpc-config
  namespace: kube-nova
data:
  config.yaml: |
    Name: manager.rpc
    ListenOn: 0.0.0.0:30011
    Mode: pro
    Timeout: ${DEFAULT_TIMEOUT}

    DevServer:
      Enabled: true
      Port: 9999
      HealthPath: "/healthz"
      MetricsPath: "/metrics"
      EnableMetrics: true

    Telemetry:
      Name: manager-rpc
      Endpoint: ${JAEGER_ENDPOINT}
      Sampler: ${TELEMETRY_SAMPLER}
      Batcher: ${TELEMETRY_BATCHER}

    Log:
      ServiceName: manager-rpc
      Mode: console
      Encoding: plain
      TimeFormat: "2006-01-02 15:04:05"
      Path: logs
      Level: info
      MaxContentLength: 1024
      Compress: false
      Stat: true
      KeepDays: 7
      StackCooldownMillis: 100
      MaxBackups: 0
      MaxSize: 0
      Rotation: daily

    Cache:
      Host: ${REDIS_HOST}:${REDIS_PORT}
      Type: ${REDIS_TYPE}
      Pass: ${REDIS_PASSWORD}
      Tls: ${REDIS_TLS}
      NonBlock: ${REDIS_NONBLOCK}
      PingTimeout: ${REDIS_PING_TIMEOUT}

    Mysql:
      DataSource: ${MYSQL_USER}:${MYSQL_PASSWORD}@tcp(${MYSQL_HOST}:${MYSQL_PORT})/${MYSQL_DATABASE}?charset=utf8mb4&parseTime=True&loc=Local&timeout=10s
      MaxOpenConns: ${MYSQL_MAX_OPEN_CONNS}
      MaxIdleConns: ${MYSQL_MAX_IDLE_CONNS}
      ConnMaxLifetime: ${MYSQL_CONN_MAX_LIFETIME}

    DBCache:
      - Host: ${REDIS_HOST}:${REDIS_PORT}
        Type: ${REDIS_TYPE}
        Pass: ${REDIS_PASSWORD}
        Tls: ${REDIS_TLS}
        NonBlock: ${REDIS_NONBLOCK}
        PingTimeout: ${REDIS_PING_TIMEOUT}

    PortalRpc:
      Target: k8s://${POD_NAMESPACE}/portal-rpc:30010
      Optional: true
      NonBlock: true
      Timeout: ${DEFAULT_TIMEOUT}